/* General Setting */
* {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #333;
  line-height: 1.375em;
}
body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
}

/* Navigation Bar */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  text-align: center;
}
.nav li {
  display: inline;
  margin: 0px;
}
.nav a {
  display:inline-block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
.nav a:hover:not(.current_page) {
  background-color: #111;
}
.current_page {
    background-color: #4CAF50;
}
#nav-text {
  font-weight: bolder;
  font-size: 0.8em;
  color: white;
}

/* Footer */

.footer {
  background-color: #333;
  height: auto;
  padding: 15px;
  clear: both;
}

/* Home page */

#welcome {
  width: 100%;
  height: 300px;
  background-color: #333;
  text-align: center;
  margin: 0;
  padding: 5px;
  color: #f0f4f6;
}

#intro {
  width: 100%;
  height: 300px;
  background-color: #f0f4f6;
  text-align: center;
  margin: 0;
  padding: 5px;
  color: #333;
}

/* Post Pages */

.post-containter {
  padding:4%;
  display: inline-flex;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
}
.post {
  text-align: center;
  float: left;
  width: 30%;
  padding: 10px 10px;
  height: auto;
  border-radius: 5px;
  border: thin solid #f8f8f8;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  background-color: white;
  display: inline-block;
  margin-top: 15px;
  transition: box-shadow 150ms ease-in-out;
}
.post:hover {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
}
.posts-head {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}
img.post-image {
	max-width: 100%;
	height: auto;
  border-top: 3px solid #558abb;
  border-bottom: 3px solid #00c8bd;
}

/* Resources */

.download-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.download-button span {
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #FFF;
}

.download-button span:after {
  content: "\2913";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.download-button:hover span {
  padding-right: 25px;
}

.download-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Post Body */
h1 {
  font-size: 3em;
  line-height: 1.05em;
}
h2 {
  font-size: 2.25em;
  line-height: 1.25em;
}
h3 {
  font-size: 1.75em;
  line-height: 1.25em;
}
h4 {
  font-size: 1.125em;
  line-height: 1.22222222em;
}
.post-body {
  padding: 1% 15% 15% 15%;
  background-color: #FFFFFF;
  color: #333;
}

.post-title {
  text-align: center;
  padding: 10px;
  border-bottom: 4px solid #e5e5e5;
  border-top: 4px solid #e5e5e5;
}

.post-body img {
  width: 100%;
  height: auto;
}

.post-body blockquote {
  border-left: 10px solid #e1e4e5;
  padding: 1rem;
  background-color: #f3f6f6;
}
.post-body blockquote p {
  color: #494949;
  font-size: 1.2em;
  line-height: 1.45833333;
}
.post-body a {
  text-decoration: none;
  color: #3498db;
}

.post-body hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Code  */

.post-body code {
  background-color: #333;
  color: #FFF;
  display: block;
  border-radius: 3px;
  padding: 0px 20px;
}
.highlight .hll { background-color: #49483e }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

/* Notes */

.challenge {

}
.challenge p:nth-child(1) {
  display:block;
  background-color:#1abc9c;
  margin:0;
  padding: 4px 10px;
  color: white;
  font-size: 1.2em;
}
.challenge p:nth-child(2) {
  display:block;
  background-color:#dbfaf4;
  margin:0;
  padding: 10px;
}
.note {

}
.note p:nth-child(1) {
  display:block;
  background-color:#6ab0de;
  margin:0;
  padding: 4px 10px;
  color: white;
  font-size: 1.2em;
}
.note p:nth-child(2) {
  display:block;
  background-color:#e7f2fa;
  margin:0;
  padding: 10px;
}
