* {
  font-family: 'Amaranth', sans-serif;
}
body {
  margin: 0;
  background-color: #EAEAEA;
}
#header_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#header_li {
  float: left;
  border-right:1px solid #585858;
}
#header_links {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#header_links:hover:not(.current_page) {
  background-color: #111;
}
.current_page {
    background-color: #4CAF50;
}
#footer {
  background-color: #333;
  height: auto;
  padding: 15px;
}
