/* General Setting */
* {
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-size: 24px;
  color: #333;
}
body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
}

/* Navigation Bar */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  text-align: center;
}
.nav li {
  display: inline;
  margin: 0px;
}
.nav a {
  display:inline-block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
.nav a:hover:not(.current_page) {
  background-color: #111;
}
.current_page {
    background-color: #4CAF50;
}
#nav-text {
  font-weight: bolder;
  font-size: 0.8em;
  color: white;
}

/* Footer */

.footer {
  background-color: #333;
  height: auto;
  padding: 15px;
  clear: both;
}

/* Home page */

#welcome {
  width: 100%;
  height: 300px;
  background-color: #333;
  text-align: center;
  margin: 0;
  padding: 5px;
  color: #f0f4f6;
}

#intro {
  width: 100%;
  height: 300px;
  background-color: #f0f4f6;
  text-align: center;
  margin: 0;
  padding: 5px;
  color: #333;
}

/* Post Pages */

.post-containter {
  padding:4%;
  display: inline-flex;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
}
.post {
  float: left;
  width: 30%;
  padding: 10px 10px;
  height: auto;
  border-radius: 5px;
  border: thin solid #f8f8f8;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  background-color: white;
  display: inline-block;
  margin-top: 15px;
  transition: box-shadow 150ms ease-in-out;
}
.post:hover {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
}
.posts-head {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}
img.post-image {
	max-width: 100%;
	height: auto;
  border-top: 2px solid #558abb;
  border-bottom: 2px solid #00c8bd;
}

/* Resources */

.download-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.download-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.download-button span:after {
  content: "\2913";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.download-button:hover span {
  padding-right: 25px;
}

.download-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Post Body */

.post-body {
  padding: 1% 15% 15% 15%;
  background-color: #FFFFFF;
  color: #333;
}

.post-body .post-title {
  text-align: center;
  border-bottom: 3px solid #f1f1f1;
}

.post-body img {
  width: 100%;
  height: auto;
}

.post-body blockquote {
  border-left: 8px solid #4CAF50;
  padding: 1rem;
  color: #494949;
}
.post-body a {
  text-decoration: none;
  color: #3498db;
}
.post-body code {
  background-color: #333;
  color: #FFF;
  border-radius: 4px;
  padding: 2px 4px;
  display: inline-block;
}
