/* General Setting */
* {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #333;
    line-height: 1.375em;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}

/* Navigation Bar */

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #292a2d;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.nav a {
    display:block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.nav a:hover:not(.current_page) {
    background-color: #222326;
}
.current_page {
    background-color: #c75c5c;
}
#nav-text {
    font-size: 1em;
    font-weight: 300;
    color: white;
}

/* Footer */

.lower-footer {
    background-color: #222326;
    height: auto;
    padding: 10px;
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 0.8em;
    clear: both;
}
.higher-footer {
    background-color: #292a2d;
    height: auto;
    padding: 40px;
    clear: both;
}
.higher-footer .column1 {
    width: 33.333333%;
    width: calc(100% / 3.04);
    display: inline-block;
    vertical-align:top;
    text-align: center;
}
.higher-footer .column1 h5{
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 300;
    text-align: left;
}
.higher-footer .column1 p{
    color: #adadad;
    font-weight: 300;
    font-size: 0.8em;
    text-align: left;
}
.higher-footer .column2 {
    width: 33.333333%;
    width: calc(100% / 3.04);
    display: inline-block;
    vertical-align:top;
    text-align: center;
}
.higher-footer .column2 h5{
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.higher-footer .column2 ul {
    padding: 0;
}
.higher-footer .column2 ul li {
    list-style-type: none;
}
.higher-footer .column2 ul li a{
    color: #adadad;
    font-weight: 300;
    font-size: 0.9em;
    text-decoration: none;
}

/* Home Page */

.home-logo {
    background: #292a2d;
    text-align: center;
}
.home-logo img {
    max-width: 60%;
    height: auto;
}

.post-series {
    background: #292a2d;
    height: auto;
    padding: 40px;
    clear: both;
    font-weight: 300;
}
.post-series div {
    width: 33.333333%;
    width: calc(100% / 3.04);
    display: inline-block;
    vertical-align:top;
}
.post-series div h4 {
    color: white;
    margin: 0;
    font-weight: 300;
}
.post-series div ol {
    margin: 0;
    padding: 20px;
}
.post-series div ol li {
    color: #d0d0d0;
}
.post-series div ol a {
    color: #d0d0d0;
    text-decoration: none;
}
.post-series div ol a:hover {
    color: #d0d0d0;
    font-weight: 400;
    text-decoration: none;
}

/* Post Pages */

.post-containter {
    padding:4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.post {
    text-align: center;
    width: 250px;
    padding: 10px 10px;
    border-radius: 5px;
    border: thin solid #f8f8f8;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    background-color: white;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    transition: box-shadow 150ms ease-in-out;
}
.post h5 {
    font-weight: normal;
    margin:5px;
}
.post:hover {
    box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
}
.posts-head {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}
img.post-image {
    max-width: 100%;
    height: auto;
    border-top: 3px solid #558abb;
    border-bottom: 3px solid #00c8bd;
}

/* Resources */


/* Post Body */
h1 {
    font-size: 3em;
    line-height: 1.05em;
}
h2 {
    font-size: 2.25em;
    line-height: 1.25em;
}
h3 {
    font-size: 1.75em;
    line-height: 1.25em;
}
h4 {
    font-size: 1.125em;
    line-height: 1.22222222em;
}
small {
  font-size: 0.7em;
}
.post-body {
    padding: 1% 15% 15% 15%;
    background-color: #FFFFFF;
    color: #333;
}

#post-title2 {
    text-align: center;
    padding-bottom: 10px;
    margin: 10px;
    margin-bottom: 20px;
}
#post-title1 {
    text-align:center;
    margin:10px;
    font-weight: 400;
    border-bottom: 4px solid #e5e5e5;
}
#recent-posts {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-weight: 300;
}

.post-body img {
    width: 100%;
    height: auto;
}

.post-body blockquote {
    margin: 0;
    padding: 1em;
    border-radius: 15px;
    border-top-left-radius: 5px;
    background-color: #f3f6f6;
    border-left: 5px solid #dbdbdb;
}
.post-body blockquote p {
    color: #494949;
    font-size: 1.1em;
    line-height: 1.45833333;
}
.post-body a {
    text-decoration: none;
    color: #3498db;
}

.post-body hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.post-body li {
    margin: 1em 0;
}

/* Code  */

.post-body code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    color: #C25;
    display: inline-block;
    border-radius: 3px;
    padding: 1px 2px;
    font-family: monospace;
    font-size: 0.8em;
    tab-size: 4;
}
.post-body pre code {
    background-color: #292a2d;
    color: #FFF;
    display: block;
    border-radius: 3px;
    padding: 0px 20px;
    tab-size: 4;
    overflow-x: scroll;
}
code::-webkit-scrollbar {
    height: 0.5em;
}
code::-webkit-scrollbar-thumb {
    background-color: #666666;
    border-radius: 5px;
}
.highlight .hll { background-color: #292a2d; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

/* Comments */

.new-comment-container {
  text-align: center;
  padding: 3% 10% 3% 10%;
  background-color: #f9f9f9;
  border-top: solid 3px #dcdcdc;
}
.new-comment-form {
  background-color: #ededed;
  margin : 0 auto;
  text-align: center;
  border: solid #e6e6e6 thin;
  border-radius: 5px;
  padding: 5%;
}
.new-comment-form h4 {
  font-weight : 400;
  padding: 10px;
  margin: 0;
}
fieldset {
  border: 0;
  text-align: left;
}
input {
  background-color: #fff;
  color: #555;
  outline: 0;
  width: 100%;
  height: 2.286em;
  padding: .429em .857em;
  border: 1px solid #d4d7d9;
  font-size: 14px;
  border-radius: 3px;
  transition: color .25s ease;
  }
input:focus {
    border: 1px solid #f90;
}
textarea {
  background-color: #fff;
  color: #555;
  outline: 0;
  width: 100%;
  height: 5em;
  padding: .429em .857em;
  border: 1px solid #d4d7d9;
  font-size: 14px;
  border-radius: 3px;
  transition: color .25s ease;
}
textarea:focus {
    border: 1px solid #f90;
}
label {
  font-weight: 300;
}
label sup {
  color: #FF493A;
  font-size: 0.8em;
}
fieldset button {
  color: white;
  background-color: #e46464;
  padding: 10px;
  border: 0;
  border-bottom: 3px solid #b56363;
  border-radius: 5px;
  transition: all .1s ease;
  outline: 0;
}
fieldset button:hover {
  background-color: #e25b5b;
}
.js-notice-text {
  font-weight: 300;
}
.comments-container {
  padding: 3% 10% 3% 10%;
  background-color: #f9f9f9;
}
.comment-container {
  width: 100%;
}
.comment-container hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.comment-container .comment-message {
  margin-top: 5px;
  font-size: 0.8em;
}
.comment-container .comment-avatar {
  float: left;
  margin-right: 10px;
  border-radius: 2px;
}
.comment-container .comment-name {
  margin-bottom: 3px;
  margin: 0;
}
.comment-container .comment-time {
  font-size: 0.7em;
}
.comment-message img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.comment-message blockquote {
    margin: 0;
    padding: 1em;
    border-radius: 15px;
    border-top-left-radius: 5px;
    background-color: #f3f6f6;
    border-left: 5px solid #dbdbdb;
}
.comment-message blockquote p {
    color: #494949;
    font-size: 1.1em;
    line-height: 1.45833333;
}
.comment-message a {
    text-decoration: none;
    color: #3498db;
}

.comment-message hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.comment-message li {
    margin: 1em 0;
}

.comment-message code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    color: #C25;
    display: inline-block;
    border-radius: 3px;
    padding: 1px 2px;
    font-family: monospace;
    font-size: 0.8em;
    tab-size: 4;
}
.comment-message pre code {
    background-color: #292a2d;
    color: #FFF;
    display: block;
    border-radius: 3px;
    padding: 0px 20px;
    tab-size: 4;
    overflow-x: scroll;
}

/* Prerequisite */

.show-prerequisites {
  color: white;
  background-color: #e46464;
  padding: 10px;
  border: 0;
  border-bottom: 3px solid #b56363;
  border-radius: 5px;
  transition: all .1s ease;
  display: block;
  margin: 10px auto;
  outline: 0;
}
.show-prerequisites:hover {
  background-color: #e25b5b;
}

.prerequisites {
  background-color: #ededed;
  margin : 20px auto;
  border: solid #e6e6e6 thin;
  border-radius: 5px;
  padding: 3%;
  font-weight: 300;
  display: none;
}
.prerequisites h3 {
  font-weight: 300;
  margin: 5px 0px;
}

/* Notes */

.challenge {

}
.challenge p:nth-child(1) {
    display:block;
    background-color:#1abc9c;
    margin:0;
    padding: 4px 10px;
    color: white;
    font-size: 1.2em;
    border-radius: 5px 5px 0px 0px;
}
.challenge p:nth-child(2) {
    display:block;
    background-color:#dbfaf4;
    margin:0;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}
.note {

}
.note p:nth-child(1) {
    display:block;
    background-color:#6ab0de;
    margin:0;
    padding: 4px 10px;
    color: white;
    font-size: 1.2em;
    border-radius: 5px 5px 0px 0px;
}
.note p:nth-child(2) {
    display:block;
    background-color:#e7f2fa;
    margin:0;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.hidden {
  display: none;
  visibility: hidden;
}
