<footer>
<div class="higher-footer">
    <div id="column1">
        <h5>About</h5>
        <p>
        Squircle Art is a place where I share my ideas, write tutorials and provide resources. I am aiming to educate readers and myself about maths, physics and general problem solving by implementing what we learn in Blender using Animation Nodes.
        </p>
    </div>
    <div id="column2">
        <h5>SiteMap</h5>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/posts.html">Posts</a></li>
            <li><a href="/resources.html">Resources</a></li>
            <li><a href="/about.html">About</a></li>
        </ul>
    </div>
</div>
<div class="lower-footer">
© Something about rights.
</div>
</footer>
