<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <script type="text/x-mathjax-config">   MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}); </script> <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"> </script>
    <meta property="og:title"              content={{page.title}} />
    <meta property="og:url"                 content={{page.url}} />
    <meta property="og:description"  content={{page.description}} />
    <meta property="og:image"            content={{page.image_path}} />
  </head>
  <body>
    {% include header.html %}

    {{content}}

    {% include footer.html %}
  </body>
</html>
